@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-ThinItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-ExtraLightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-LightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-RegularItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-MediumItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-SemiBoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-ExtraBoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-BlackItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-Thin.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-ExtraLight.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-ExtraBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/assets/fonts/fira-sans/FiraSans-Black.ttf') format('ttf');
}
