---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import {
  NewerOlderPagination,
  PaginationHeader,
  ProjectCatalog,
  Section,
} from '@/components';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allProjects = await getCollection('projects');

  // Return a paginated collection of paths for all posts
  return paginate(allProjects, { pageSize: 6 });
}

interface Props {
  page: Page<CollectionEntry<'projects'>>;
}

const { page } = Astro.props;
const title = `Projects - ${AppConfig.site_name} - ${page.currentPage}`;
const description = 'A page for all my notable projects';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="Projects"
      description="Some of the things I've worked on"
    />
  </Section>
  <Section>
    <ProjectCatalog projects={page.data} />
  </Section>
  <Section>
    <NewerOlderPagination page={page} />
  </Section>
</Base>
