---
import { getCollection } from 'astro:content';

import { AboutMeEntry, BulletList, GradientText, Section } from '@/components';

const allHobbies = await getCollection('hobbies');
---

<Section>
  <Fragment slot="title">
    About <GradientText>Me</GradientText>
  </Fragment>

  <div class="flex flex-col gap-6">
    <AboutMeEntry title="Summary">
      <p class="min-w-0 flex-auto text-lg">
        I love to combine my skills and interests to create memorable
        experiences for the people around me.
      </p>
    </AboutMeEntry>
    <AboutMeEntry title="Education">
      <p class="min-w-0 flex-auto text-lg">
        <span class="font-semibold">
          <GradientText>University of Auckland</GradientText>
        </span><br />
        Bachelor of Engineering (Honours) - Software Engineering<br />
        Cumulative GPA: 8.737/9.0<br />
        Dean's Honours List - 2021, 2022
      </p>
    </AboutMeEntry>
    <AboutMeEntry title="Experience">
      <p class="min-w-0 flex-auto text-lg">
        <span class="font-semibold">
          <GradientText>Southern Cross Health Society</GradientText>
        </span><br />
        • Data Analyst Intern | Dec 2021 - Present<br /><br />
        <span class="font-semibold">
          <GradientText>University of Auckland</GradientText>
        </span><br />
        • Teaching Assistant | Mar 2023 - Present
      </p>
    </AboutMeEntry>
    <AboutMeEntry title="Hobbies">
      <BulletList points={allHobbies.map((h) => h.data)} />
    </AboutMeEntry>
  </div>
</Section>
