---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />
    <link
      rel="preload"
      href="/assets/fonts/fira-sans-woff2/va9B4kDNxMZdWfMOD5VnLK3eRhf6.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/fira-sans-woff2/va9B4kDNxMZdWfMOD5VnZKveRhf6.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/fira-sans-woff2/va9E4kDNxMZdWfMOD5Vvl4jL.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/fira-sans-woff2/va9B4kDNxMZdWfMOD5VnSKzeRhf6.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/assets/fonts/fira-sans-woff2.css" as="style">
    
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/fonts/fira-sans-woff2.css" />

  </head>
  <body class="bg-slate-900 text-gray-100">
    <Navbar client:load />

    <slot />

    <Footer />
  </body>
</html>
