---
import { Section } from '@/components';
import type { ProjectFrontmatter } from '@/content/_schemas';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  frontmatter: ProjectFrontmatter;
}

const { frontmatter } = Astro.props as Props;
const title = `${frontmatter.name} - Projects - ${AppConfig.site_name}`;
---

<Base head={{ title, description: frontmatter.description }}>
  <Section>
    <div
      class="prose prose-invert mx-auto mt-8 max-w-3xl prose-table:text-base prose-img:rounded-lg prose-img:border-2 prose-img:border-sky-500"
    >
      <slot />
    </div>
  </Section>
</Base>
